/* Authoring Tool */

html.drag {
    background-color: #DFFAFB;
}

body {
    font-family: "Lucida Grande", Arial, sans-serif;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

#click {
    width: 120px;
    height: 40px;
    background-color: #999;
    position: relative;
    cursor: pointer;
}

#clickText {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 10px;
    color: #FBFBFC;
}

#clickOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

input {
    width: 50px;
}

#drag-and-drop-target {
    padding: 20px;
    text-align: center;
    color: #444;
    background-color: #DEDEDE;
    position: absolute;
    height: 100px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#drag-and-drop-target.drag {
    background-color: #DFFAFB;
    font-weight: bold;
    color: #F66;
}

.bottom-info {
    margin-bottom: 10px;
}

#upload-file {
    color: #39D;
    text-decoration: underline;
}

#filechooserlabel {
    cursor: pointer;
}

.track {
    width: 90%;
    background-color: #DFFAFB;
    text-align: left;
    font-family: Inconsolata, Menlo, Monaco, sans-serif;
    font-size: 11pt;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 10px;
    white-space: nowrap;
    margin: 5px 0;
    display: inline-block;
    height: 20px;
    line-height: 20px;
}

.track:read-write:focus {
    /*     outline: 2px solid #dd8844;*/
}

.track-info {
    width: 40px;
    background-color: #F0F4FF;
    color: #666;
    text-align: center;
    font-family: Inconsolata, Menlo, Monaco, sans-serif;
    font-size: 11pt;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 10px;
    white-space: nowrap;
    margin: 5px 0;
    display: inline-block;
    height: 20px;
    line-height: 20px;
}

.notegroup {
    /* todo */
    display: inline-block;
    height: 17px;
    padding-top: 10px;
}

.notegroup.multiple {
    color: #59B;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}

.checkbox {
    height: 50px;
    margin: 0px;
    width: 24px;
}

#pianoCanvas {
    border: 1px solid #444;
    margin-top: 10px;
}


/* always show scrollbars */

::-webkit-scrollbar {
    width: 0px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.18);
}