/* Authoring Tool */
body {
    font-family:"Lucida Grande", Arial, sans-serif;
    margin-top:15px;
    margin-left: 20px;
    margin-right: 20px;
}
#click {
    width: 120px;
    height: 40px;
    background-color: #999;
    position: relative;
    cursor: pointer;
}
#clickText {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 10px;
    color: #FBFBFC;
}
#clickOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#textarea {
    font-family:Inconsolata, Menlo, Monaco, sans-serif;
    font-size: 16pt;
}
input {
    width: 50px;
}